.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.main h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.main span {
  color: #ffbb33;
  padding: 0.075em 0.5em;
  background-color: #222;
}

.main p {
  margin-bottom: 3.5em;
  color: #7b7b7b;
}

.main img {
  width: 50%;
  margin: 2em 0;
}