.project_details {
    padding: 2em;
    height: 100%;
}

.project_details h1,
.project_details h2,
.project_details p {
    margin-bottom: 0.5em;
}

.project_details h1 {
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
}

.project_details span {
    font-weight: bold;
}

.details_container {
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 1.2em;
  padding-bottom: 1.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service_form_container {
   border-top: 1px solid #7a7a7a;
   margin-top: 1.2em;
   padding-top: 1.2em;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #222;
    padding: 0.5em 1rem;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
  }
  
  .btn:hover {
    color: #ffbb33;
  }

  .project_info {
    width: 100%;
  }

  .services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%
  }

  .noService {
    margin: 0 auto;
  }

  .addService {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
  }