.project_container {
  padding: 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title_container {
  display: flex;
  justify-content: space-between;
}

.total_container {
  width: 30%;
  padding: 1em 0;
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #7a7a7a;
  text-align: center;
}

.total {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 77.5%;
  left: 25%;
  width: 50%;
}

.projectCard {
  display: flex;
  margin: 5em auto;
}