.project{
  flex-direction: column;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 75%;
  left: 25%;
  width: 50%;
}

.total_container {
  width: 200px;
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #7a7a7a;
  text-align: center;
  padding-top: 0.5em;
}

.projectCard {
  display: flex;
  margin: 3em auto;
  justify-content: center
}