.service_details {
    padding: 2em;

}

.service_details h1,
.service_details h2,
.service_details p {
    margin-bottom: 0.5em;
}

.service_details h1 {
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
}

.service_details span {
    font-weight: bold;
}

.details_container,
.service_form_container {
   border-bottom: 1px solid #7a7a7a;
   margin-bottom: 1.2em;
   padding-bottom: 1.2em;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #222;
    padding: 0.5em 1rem;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
  }
  
  .btn:hover {
    color: #ffbb33;
  }

  .service_info {
    width: 100%;
  }