.service{
    flex-direction: column;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .serviceCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }