.container {
  width: 100%;
  height: 81.5%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-between;
  margin:auto;
}

.start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
}