.footer {
  background-color: #222;
  text-align: center;
  color: #fff;
  padding: 1em;
  width: 100%;
  position: fixed;
  bottom: 0
}

.social_list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #ffbb33;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  font-weight: bolder;
  color: #ffbb33;
}