.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.list a {
  margin-right: 1em;
  color: #fff;
  text-decoration: none;
  transition: .25s;
}

.list a:hover {
  color: #ffbb33;
}